<div id="<%= dom_id document %>">
  <div>
    <strong>Document:</strong>
    <%= document.document %>
  </div>

  <div>
    <strong>Case study:</strong>
    <%= document.case_study_id %>
  </div>

</div>
