<% content_for :title, "Editing case study" %>

<h1>Editing case study</h1>

<%= render "form", case_study: @case_study %>

<br>

<div>
  <%= link_to "Show this case study", @case_study %> |
  <%= link_to "Back to case studies", case_studies_path %>
</div>
