<div id="<%= dom_id category %>">
  <div>
    <strong>Name:</strong>
    <%= category.name %>
  </div>

  <div>
    <strong>Asha big 9:</strong>
    <%= category.asha_big_9 %>
  </div>

  <div>
    <strong>Case study:</strong>
    <%= category.case_study_id %>
  </div>

</div>
